@page "/employees"
@inherits EmployeeListBase

<h3>@(message)</h3>

<EditForm Model="Employee" OnValidSubmit="FormSubmitCallback">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">First Name</label>
            <TelerikTextBox Id="inputFirstName" Class="form-control"
                            Enabled="@(SetTextboxAccess())"
                            Value="@(Employee.FirstName)"
                            ValueExpression="@(() => Employee.FirstName)"
                            ValueChanged="@((string value) => TextboxEventHandler(value))"></TelerikTextBox>
        </div>
        <div class="col-md-6">
            <p></p>
            <p>@FirstNameText</p>
        </div>
        <div class="col-md-6">
            <label for="ddlDepartments" class="form-label">Departments</label>
            @if (DepartmentList.Count > 0)
            {
                <TelerikDropDownList Id="ddlDepartments"
                                 Class="form-control"
                                 Data="DepartmentList"
                                 TextField="@nameof(Department.DepartmentName)"
                                 ValueField="@nameof(Department.DepartmentId)"
                                 Value="@(Employee.DepartmentId)"
                                 ValueExpression="@(() => Employee.DepartmentId)"
                                 ValueChanged="@((int value) => DepartmentChangeEvent(value))">
                    <HeaderTemplate>
                        Department List
                    </HeaderTemplate>
                    <FooterTemplate>
                        Department List
                    </FooterTemplate>
                    <ValueTemplate Context="dpt">
                        @dpt.DepartmentId - @dpt.DepartmentName
                    </ValueTemplate>
                    <ItemTemplate Context="dpt">
                        @($"{dpt.DepartmentId} - {dpt.DepartmentName}")
                    </ItemTemplate>
                </TelerikDropDownList>
            }

        </div>
        <div class="col-md-6">
            <p></p>
            <p>@DepartmentIdText</p>
        </div>
        <div class="col-md-6">
            <label for="acDepartment" class="form-label">Departments</label>
            @if (DepartmentList.Count > 0)
            {
                <TelerikAutoComplete Id="acDepartment"
                                 Class="form-control"
                                 @bind-Value="Employee.Department.DepartmentName"
                                 Data="DepartmentList"
                                 ValueField="@nameof(Department.DepartmentName)"
                                 Filterable="true"
                                 MinLength="1"
                                 FilterOperator="StringFilterOperator"
                                 Placeholder="Please select a department"
                                 ClearButton="false"
                                 OnChange="DepartmentACChangeEvent">
                    <HeaderTemplate>
                        Department list
                    </HeaderTemplate>
                    <FooterTemplate>
                        Department List
                    </FooterTemplate>
                    <ItemTemplate Context="dpt">
                        @dpt.DepartmentName - @dpt.DepartmentId
                    </ItemTemplate>
                </TelerikAutoComplete>
                <span>@Employee.Department.DepartmentName</span>
            }
        </div>
        <div class="col-6">
            <label for="MSDepartment" class="form-label">Multi Department Selection</label>
            <TelerikMultiSelect Id="MSDepartment"
                                Class="form-control"
                                Data="DepartmentList"
                                ValueField="@nameof(Department.DepartmentId)"
                                TextField="@nameof(Department.DepartmentName)"
                                Filterable="true"
                                ValueExpression="@(() => SelectedDepartments)"
                                ValueChanged="@((List<int> value) => MultiSelectDepartmentChangeEvent(value))">

            </TelerikMultiSelect>
        </div>
        <div class="col-6">
            <p></p>
            @foreach (var item in SelectedDepartments)
            {
                <span>@DepartmentList.FirstOrDefault(x=> x.DepartmentId == item)?.DepartmentName</span><span>,</span>
            }
        </div>
        @if(SubscriptionsList != null && SubscriptionsList.Count > 0)
        {
            <div class="col-6">
                   
            </div>
            <div class="col-6">
                     <label for="chkAll" class="form-label">
                    <TelerikCheckBox Id="chkAll" Class="form-control" @bind-Value="CheckAll" Indeterminate="CheckAllIndescriminate"></TelerikCheckBox>
                        All
                    </label>
                @foreach (var sub in SubscriptionsList)
                {
                    <div class="col-12 row">
                    <label for="@sub.Id" class="form-label">
                        <TelerikCheckBox Id="@sub.Id.ToString()" Class="form-control" @bind-Value="@sub.Selected"></TelerikCheckBox>
                        @sub.SubscriptionName
                    </label>
                    </div>
                }

            </div>
        }
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</EditForm>


